[submodule "lib/kleeb"]
	path = lib/kleeb
	url = https://github.com/crides/kleeb
[submodule "lib/keyboard_footprints"]
	path = lib/keyboard_footprints
	url = https://github.com/pierrechevalier83/keyboard_footprints.git
[submodule "lib/choc"]
	path = lib/choc
	url = https://github.com/crides/choc
